<div class="container">

    <div class="form-group">
      <input type="email" class="form-control" [(ngModel)]="data" placeholder="Enter recipe">
    </div>
    <button type="submit" class="btn btn-primary" (click)="onAdd()">Add</button>

</div>