<h1>Recipes Component</h1>
<ul class="nav">
  <li class="nav-item">
    <a class="nav-link" routerLinkActive="active" routerLink="add">Add</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLinkActive="active" routerLink="list">List</a>
  </li>
</ul>

<!-- <router-outlet></router-outlet> -->

<div class="row">
  <div class="col-6">
    <app-add-recipe> </app-add-recipe>
  </div>
  <div class="col-6">
    <app-list-recipes></app-list-recipes>

  </div>
</div>